.app {
  text-align: center;
}

.main {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.content {
  height: 92vh;
  padding: 2rem;
  box-sizing: border-box;
  overflow: hidden;
}
